metadata.allow-direct-references = true

[build]
packages = [
    "pyroll"
]

[version]
path = "pyroll/zouhar_contact.py"

[envs.default]
path = ".venv"
dependencies = [
    "pytest ~= 7.0",
    "pyroll-report ~= 3.0",
    "plotly"
]

[envs.docs]
path = ""
dependencies = [
    "pygments ~= 2.0"
]

[envs.docs.scripts]
build = "pandoc -o docs/docs.pdf docs/docs.md"

[envs.test]
path = ""

[envs.test.scripts]
all = "pytest"

[[envs.test.matrix]]
python = ["3.9", "3.10", "3.11"]